*{margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}

/*ANTET*/
 .antet{
  background-color: #f0f0f5;
  list-style-type: none;
  padding: 10px;
}

.antet li{
  display: inline;
  padding: 25px;
  float: left;
}

/*BANNER*/
.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("salon1.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 160px 180px;
}

.banner-text {
  text-align: center;
  color: white;
  line-height: 1.5;
}

.banner-text a {
  margin-top: 50px;
}

.banner-image a{
  background-color:#ffcc99;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
}

.banner-image a:hover{
  background-color: white;
    color: #ffcc99;
}

.salon{
    text-align: center;
    margin: 70px;
    line-height: 1.3;
    }
    
p{
    font-family:'Times New Roman', Times, serif;
    }

/*butoane*/
.navbar a{
    background-color:#ffcc99;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    }
.navbar a:hover{
    background-color: white;
    color: #ffcc99;
    }


/*PAGINA ABOUT*/
.about h1{
  text-align: center;
  margin: 0 50px 50px;
  font-style: italic;
  margin-top: 120px;
}

.about p{
    margin: 7vw;
    text-align: justify;
    line-height: 1.5;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}

.recenzii{
  background-color:#f0f0f5;
  max-width: 500px;
  border: 15px solid #ffcc99;
  margin: 100px;
  margin-left: 500px;
  padding: 50px;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
}

/*PAGINA SERVICE*/
.paragraf h1{
  text-align: center;
  margin: 0 50px 50px;
  font-style: italic;
  margin-top: 120px;
}

.paragraf p{
    margin: 7vw;
    text-align: justify;
    line-height: 1.5;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
/*tabel preturi*/
.tabelPret {
    border-collapse: collapse;
    width: 85%;
    margin: 0 100px 50px;
}

.tabelPret tr:hover{
    background-color: #ffcc99;
    color: black;
}

.tabelPret th, td {
    padding: 8px;
    text-align: left;
    line-height: 40px;
    border-bottom: 1px solid #DDD;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#ffcc99;
}

.subsol{
    background-color: #ffcc99;
    padding:40px 100px;
    color: white;
    text-align: left;
    font-size: 15px;
}

.subsol table{
  margin-left: 80px;
}

.subsol a{
  text-decoration: none;
  color: white;
}

/*BARA NAVIGARE*/
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 23px;
  width: 16.6666667%;
  text-align: center;
}

.navbar a:hover {
  background-color: white;
  color: #ffcc99;
}

.navbar a.active {
  background-color: #ffb366;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}